@use "../../../../sass/colors";
@use "../../../../sass/font";
@use "../../../../sass/animation";
@use "../../../../sass/paragraph";
@use "../../../../sass/gradient";

.IotMain {
    position: relative;
    margin-top: 100px;
    @include gradient.bannerGradient(url("../assets/images/contact-us/contact-us.jpg"));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    aspect-ratio: 1/0.49;
    min-height: 240px;
    max-height: 450px;
    width: 100%;

    div {
        div {
            article {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 90%;
                margin-left: 10%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 30px;

                @media only screen and (max-width: "768px") {
                    gap: 15px;
                }

                h1 {
                    display: block;
                    color: colors.$white_color;
                    text-align: left;
                    @include font.font(clamp(25px, calc(18px + 3.5vmin), 60px), 110%, 600);
                    text-transform: uppercase;
                    margin-bottom: 0;
                    animation: slide 1.5s forwards;

                    @media only screen and (max-width: "768px") {
                        width: 80%;
                    }


                }

                div {
                    display: flex;
                    width: 80%;
                    gap: 100px;

                    @media only screen and (max-width: "1200px") {
                        gap: 50px;
                    }

                    @media only screen and (max-width: "991px") {
                        flex-direction: column;
                        gap: 20px;
                    }

                    @media only screen and (max-width: "550px") {
                        width: 90%;
                    }

                    p {
                        width: 100%;
                        @include paragraph.paragraph-mixin;
                        text-indent: unset;
                        color: colors.$white-color;
                        animation: right-to-left 1.5s forwards;
                        margin: 0;

                        @media only screen and (max-width: "768px") {
                            line-height: 115%;
                        }
                    }

                    &:last-child {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 10px;
                        animation: bottom-to-top 1.5s forwards;

                        address {
                            display: flex;
                            align-items: center;
                            gap: 20px;
                            margin-bottom: 0;

                            @media only screen and (max-width: "550px") {
                                gap: 10px;
                            }

                            span {
                                @include paragraph.paragraph_mixin;
                                color: colors.$white-color;
                                font-weight: 500;
                                text-align: left;

                                &:first-child {
                                    font-weight: 700;
                                    background-color: colors.$primary_dark2;
                                    color: colors.$white-color;
                                    border-radius: 50%;
                                    width: 30px;
                                    aspect-ratio: 1/1;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;

                                    @media only screen and (max-width: "550px") {
                                        width: 20px;
                                        font-size: 12px;
                                    }


                                }
                            }
                        }
                    }

                }




                @include animation.animation-heading-mixin(slide);
                @include animation.animation-p1-mixin(bottom-to-top);
                @include animation.animation-p2-mixin(right-to-left);
                @include animation.animation-scaleup-mixin(scale-up);
            }
        }
    }
}