@use "../../../sass/heading";
@use "../../../sass/gradient";
@use "../../../sass/colors";
@use "../../../sass/visibility";

.contactUsSectionMain {
    padding: 4rem 0;
    // @include gradient.twoColorGradient;
    @include gradient.backgroundGradientContact(url("../assets/images/divider.jpg"));
    background-size: 100%;

    div {
        div {
            max-width: 800px;
            margin: 0 auto;

            h2 {
                width: 100% !important;
                @include heading.levelTwo-heading;
                color: colors.$primary-dark2;
                text-align: center;
                margin-bottom: 2rem;
            }
        }
    }
}

.content-container {
    @include visibility.hiddenVisibility;

    @media only screen and (max-width: "768px") {
        @include visibility.showVisibility;
    }
}

.content-container.visible {
    @include visibility.showVisibility;
}