@use "../../../sass/font";
@use "../../../sass/colors";
@use "../../../sass/heading";

.contactUsSectionMain {
    padding: 80px 0;
    background-color: rgba(colors.$reindeer_lightbrown, 0.7);

    div {
        div {
            max-width: 800px;
            margin: 0 auto;

            h2 {
                width: 100% !important;
                @include heading.levelTwo-heading;
                text-align: center;
                margin-bottom: 90px;
            }
        }
    }
}