/*............................... */
/*..........Header Color.........*/
/*............................... */

$header-background-color1: #fff;
$header-background-color2: #000d28;
$header-navlink-color1: #000;
$header-navlink-color2: #fff;
$header-navlink-background-color1: #000d28;
$header-navlink-background-color2: #005dbd;
$header-navlink-hover-color1: #000d28;
$header-navlink-hover-color2: #fff;
$header-navlink-hover-color3: #005dbd;
$header-navlink-hover-background-color1: #005dbd;
$header-navlink-hover-background-color2: #000d28;
$header-text-shadow-color: #005dbd;

/*............................... */
/*..........Header Color.........*/
/*............................... */


$reindeer-lightbrown: #9C866C;

$background-main: #DDD0C8;

$white-color: #ffffff;

$primary_light: #acaca3;

$secondary_light: rgb(204, 204, 204);

$paragraph-color: #333333;
$violet-color: #8a2be2;

$primary-dark1: #000d28;
$primary-dark2: #005dbd;
$primary_dark3: black;

$secondary_dark1: #845247;

$secondary_dark2: #255f74;

$hover_background: orange;