/*............................... */
/*..........Header Color.........*/
/*............................... */

$header-background-color1: #fff;
$header-background-color2: #000d28;
$header-navlink-color1: #005dbd;
$header-navlink-color2: #fff;
$header-navlink-background-color1: #000d28;
$header-navlink-background-color2: #005dbd;
$header-navlink-hover-color1: #000d28;
$header-navlink-hover-color2: #fff;
$header-navlink-hover-color3: #111e6c;
$header-navlink-hover-background-color1: #005dbd;
$header-navlink-hover-background-color2: #000d28;
$header-text-shadow-color: #005dbd;

/*............................... */
/*..........Header Color.........*/
/*............................... */


/*............................... */
/*..........Nav Menu Color.........*/
/*............................... */

$nav-menu-box-shadow-color: #000d28;
$nav-menu-link-color: #005dbd;
$nav-menu-link-color-hover: #111e6c;

/*............................... */
/*..........Nav Menu Color.........*/
/*............................... */



$reindeer-lightbrown: #9C866C;

$background-main: #DDD0C8;

$white-color: #fff;

$primary_light: #acaca3;

$secondary_light: rgb(204, 204, 204);
$secondary_light1: #41aaaa;
$secondary_light2: #50bebe;
$secondary_light3: #60abab;

$paragraph-color: #333333;


$primary_dark1: #000d28;
$primary_dark2: #005dbd;
$primary_dark3: black;
$primary_dark4: #111e6c;

$secondary_dark1: #845247;

$secondary_dark2: #255f74;

/*............................... */
/*..........Footer Color.........*/
/*............................... */



/*............................... */
/*..........Footer Color.........*/
/*............................... */