$reindeer-lightbrown: #9C866C;

$background-main: #DDD0C8;

$white-color: #ffffff;

$primary_light: #acaca3;

$secondary_light: rgb(204, 204, 204);

$paragraph-color: #333333;

$primary-dark1: #18150d;
$primary-dark2: #3c342e;
$primary_dark3: #473c3c;

$secondary_dark1: #845247;

$secondary_dark2: #255f74;