@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Helvetica:wght@200;300;400;500;600;700&display=swap');

@mixin font($size , $height , $weight) {
    font-family: 'Roboto', sans-serif, 'Inter', 'Helvetica';
    font-style: normal;
    font-size: $size;
    line-height: $height;
    font-weight: $weight;
}
