@use "../sass/colors";

@mixin lightGradient1 {
    background: linear-gradient(to top left, rgba(colors.$white-color, 1), rgba(colors.$secondary_light, 1));
}

@mixin lightGradient2 {
    background: linear-gradient(to top right, rgba(colors.$primary-dark2, 0.5), rgba(colors.$secondary_dark2, 0.3));
}

@mixin lightGradient3 {
    background: linear-gradient(to top, rgba(colors.$primary_dark2, 0.9), rgba(colors.$primary-dark2, 1));
}

@mixin lightGradient4 {
    background: linear-gradient(to top right, rgba(colors.$primary-dark2, 0.7), rgba(colors.$secondary_dark2, 0.7));
}

@mixin darkGradient1 {
    background: linear-gradient(to top left, rgba(colors.$primary_dark2, 0.7), rgba(colors.$primary-dark1, 1));
}

@mixin darkGradient2 {
    background: linear-gradient(to top left, rgba(colors.$primary_dark2, 0.4), rgba(colors.$primary-dark2, 0.5));
}

@mixin bannerGradient ($banner-image) {
    background-image: linear-gradient(rgba(colors.$primary_dark4, 0.7), rgba(colors.$primary_dark4, 0.7)),
    #{$banner-image};
}

@mixin bannerGradient1 ($banner-image) {
    background-image: linear-gradient(rgba(colors.$secondary_dark2, 0.7), rgba(colors.$secondary_dark2, 0.7)),
    #{$banner-image};
}

@mixin backgroundGradient {
    background: linear-gradient(to top, rgba(colors.$secondary_light1, 0.3), rgba(colors.$secondary_light1, 0.3));
}

@mixin twoColorGradient {
    background: linear-gradient(rgba(colors.$secondary_light1, 1), rgba(colors.$secondary_light2, 1), rgba(colors.$secondary_light3, 1));
}