@use "../sass/colors";

@mixin lightGradient1 {
    background: linear-gradient(to top left, rgba(colors.$white-color, 1), rgba(colors.$secondary_light, 1));
}

@mixin lightGradient2 {
    background: linear-gradient(to top right, rgba(colors.$primary-dark2, 0.5), rgba(colors.$secondary_dark2, 0.3));
}

@mixin lightGradient3 {
    background: linear-gradient(to top, rgba(colors.$primary_dark2, 0.9), rgba(colors.$primary-dark2, 1));
}

@mixin darkGradient1 {
    background: linear-gradient(to top left, rgba(colors.$primary_dark2, 0.7), rgba(colors.$primary-dark1, 1));
}