@use "./colors";
@use "./font";

@mixin paragraph-mixin {
    @include font.font(0.8rem, 1.2rem, 400);
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 10px;
    color: colors.$paragraph-color;

    @media only screen and (max-width: "768px") {
        text-justify: inter-character;
        @include font.font(16px, 120%, 400);
    }

    @media only screen and (max-width: "550px") {
        text-justify: inter-character;
        @include font.font(14px, 120%, 400);
    }

}