@mixin hiddenVisibility {
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.7s ease-in-out;
}

@mixin showVisibility {
    transform: translateY(0px);
    opacity: 1;
}

@mixin hiddenVisibilityRightToLeft {
    transform: translateX(300px);
    opacity: 0;
    transition: all 0.7s ease-out;
}

@mixin showVisibilityRightToLeft {
    transform: translateX(0px);
    opacity: 1;
}

@mixin hiddenVisibilityLeftToRight {
    transform: translateX(-300px);
    opacity: 0;
    transition: all 0.7s ease-out;
}

@mixin showVisibilityLeftToRight {
    transform: translateX(0px);
    opacity: 1;
}

@mixin hiddenVisibilityScaledUp {
    transform: rotateY(90deg);
    opacity: 0;
    transition: all 0.7s ease-out;
}

@mixin showVisibilityScaledUp {
    transform: rotateY(0deg);
    width: 100%;
    opacity: 1;
}