@use "../../../../sass/colors";
@use "../../../../sass/heading";
@use "../../../../sass/paragraph";
@use "../../../../sass/gradient";

.iotServicesMain {
    padding: 80px 0;

    div {
        div {
            h2 {

                @include heading.levelTwo-heading;
                margin-bottom: 80px;
            }

            article {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                row-gap: 50px;
                column-gap: 12%;
                min-width: 100%;

                @media only screen and (max-width: "991px") {
                    column-gap: 15%;
                }

                @media only screen and (max-width: "768px") {
                    row-gap: 30px;

                }

                button {
                    position: relative;
                    vertical-align: middle;
                    width: 25%;
                    max-width: 250px;
                    aspect-ratio: 1/1;
                    text-align: center;
                    text-decoration: none;
                    padding: 20px;
                    border-radius: 40% 40px;
                    transition: all 0.3s ease-in;
                    transform: rotate(45deg);
                    display: inline-block;
                    border: none;
                    border-bottom: 15px ridge rgba(colors.$secondary_dark2, 0.8);
                    @include gradient.lightGradient1;

                    @media only screen and (max-width: "991px") {
                        width: 30%;
                        max-width: 200px;
                        border-width: 10px;
                    }

                    @media only screen and (max-width: "768px") {
                        width: 37%;
                        border-width: 5px;

                    }

                    @media only screen and (max-width: "550px") {
                        width: 40%;
                        max-width: 160px;
                    }

                    @media only screen and (max-width: "400px") {
                        width: 60%;
                    }

                    div {
                        transform: rotate(-45deg);

                        span {
                            position: relative;
                            top: -15px;
                            margin: 0 auto;
                            display: block;
                            width: 30%;
                            aspect-ratio: 1/1;
                            margin-bottom: 20px;

                            img {
                                display: block;
                                width: 100%;
                                height: 100%;
                            }
                        }

                        p {
                            @include paragraph.paragraph-mixin;
                            text-indent: unset;
                            text-align: center;
                            color: colors.$primary_dark3;
                            transition: all 0.3s ease-in;

                            @media only screen and (min-width: "1200px") {
                                font-size: 1rem;
                            }


                        }

                    }

                    &:hover {

                        background: linear-gradient(to top left, rgba(colors.$primary_dark2, 0.9), rgba(colors.$reindeer-lightbrown, 0.9));
                        border-bottom: 15px ridge whitesmoke;

                        @media only screen and (max-width: "991px") {
                            border-width: 10px;
                        }

                        @media only screen and (max-width: "768px") {
                            border-width: 5px;
                        }

                        p {
                            color: colors.$white-color;
                        }
                    }

                }
            }
        }
    }
}