@use "../../../../../sass/gradient";
@use "../../../../../sass/heading";
@use "../../../../../sass/paragraph";
@use "../../../../../sass/colors";
@use "../../../../../sass/font";
@use "../../../../../sass/visibility" as vis;

.appDevelopmentMain {
    padding: 4rem 0;

    div {
        div {

            h3 {
                @include heading.levelThree-heading;
            }

            article {

                &:nth-of-type(1) {
                    margin-bottom: 30px;
                }

                p {
                    @include paragraph.paragraph-mixin;
                }

                &:last-child {
                    width: 100%;

                    div {
                        display: flex;
                        justify-content: center;
                        flex-wrap: wrap;

                        gap: 20px;

                        h4 {
                            flex: 0 0 100%;
                            @include heading.levelFour-heading;
                            color: rgba(252, 151, 55, 0.87);
                            text-align: center;
                        }

                        span {
                            position: relative;
                            display: inline-block;
                            width: 100px;
                            aspect-ratio: 1/1;
                            padding: 20px;
                            border-radius: 50%;
                            background-color: colors.$white-color;
                            box-shadow: 2px 3px 8px rgba(colors.$primary_dark2, 0.20);
                            transition: all 0.3s ease-in;
                            cursor: pointer;

                            &:hover {
                                aside {
                                    opacity: 1;
                                    width: 100%;
                                    height: 100%;
                                    left: 0;
                                    top: 0;
                                }
                            }

                            img {
                                width: 100%;
                                height: 100%;
                            }

                            aside {
                                position: absolute;
                                top: 0;
                                bottom: 0;
                                left: 50%;
                                top: 50%;
                                height: 0;
                                width: 0;
                                opacity: 0;
                                transition: all .5s ease-out;
                                background-color: colors.$secondary_dark2;
                                border-radius: 50%;

                                p {
                                    color: white;
                                    font-size: 16px;
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    -webkit-transform: translate(-50%, -50%);
                                    -ms-transform: translate(-50%, -50%);
                                    transform: translate(-50%, -50%);
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }


        }
    }
}

.textDisplay {
    opacity: 1 !important;
    width: 100% !important;
    height: 100% !important;
    left: 0 !important;
    top: 0 !important;
}

.content-container {
    @include vis.hiddenVisibility;

    @media only screen and (max-width: "768px") {
        @include vis.showVisibility;
    }
}

.content-container.visible {
    @include vis.showVisibility;
}