@use "../../../../sass/heading" as h;
@use "../../../../sass/paragraph" as p;
@use "../../../../sass/colors" as color;
@use "../../../../sass/gradient" as g;

.aboutMain {
    position: relative;
    padding: 80px 0;

    div {
        div {

            h2 {
                @include h.levelTwo-heading;
                margin-bottom: 20px;
                color: color.$secondary_dark1;
            }

            article {
                p {
                    @include p.paragraph-mixin;
                    text-align: justify;
                    font-size: 1.05rem;
                    width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                    text-align: center;
                    color: color.$secondary_dark1;
                    border: 1px solid color.$primary_dark2;
                    border-radius: 20px;
                    // font-weight: 500;
                    padding: 20px;
                    background-color: rgba(color.$reindeer-lightbrown, 0.1);
                    // @include g.lightGradient1;
                    font-style: italic;
                    box-shadow: 2px 4px 8px rgba(color.$primary-dark2, 0.22), -2px -4px 8px rgba(color.$primary-dark2, 0.22);

                }
            }
        }
    }
}