@use "../../../../sass/heading";
@use "../../../../sass/paragraph";
@use "../../../../sass/visibility" as vis;

.ServiceOverviewMain {
    position: relative;
    padding: 4rem 0;

    div {
        div {

            h2 {
                @include heading.levelTwo-heading;
            }

            article {
                width: 100%;

                p {
                    @include paragraph.paragraph-mixin;
                }

                div {
                    width: 100%;
                    margin-top: 20px;

                    p {
                        @include paragraph.paragraph-mixin;

                        span {
                            position: relative;
                            margin-right: 5px;
                            font-weight: 600;


                            &::after {
                                content: ":"
                            }

                        }
                    }
                }
            }
        }
    }
}

.content-container {
    @include vis.hiddenVisibility;

    @media only screen and (max-width: "768px") {
        @include vis.showVisibility;
    }
}

.content-container.visible {
    @include vis.showVisibility;
}