@use "../../../../sass/heading";
@use "../../../../sass/paragraph";
@use "../../../../sass/colors";

.CloudComputingMain {
    position: relative;
    padding: 80px 0;
    background-color: rgba(colors.$primary_light, 0.1);

    div {
        div {

            h2 {
                @include heading.levelTwo-heading;
            }

            article {
                p {
                    @include paragraph.paragraph-mixin;
                }
            }
        }
    }
}