@use "../../../../../sass/font";
@use "../../../../../sass/heading";
@use "../../../../../sass/paragraph";
@use "../../../../../sass/colors";
@use "../../../../../sass/gradient";

.AutomatedTestingMain {
    padding: 80px 0;

    div {
        div {
            padding-bottom: 50px;

            h3 {
                @include heading.levelThree-heading;
            }

            article {
                p {
                    @include paragraph.paragraph-mixin;
                }

                ul {
                    list-style-type: decimal;
                    padding: 0;
                    margin-top: 30px;
                    row-gap: 20px;
                    margin-left: 50px;

                    li {
                        position: relative;
                        @include paragraph.paragraph-mixin;
                        text-indent: unset;
                        border-radius: 10px;
                        user-select: none;
                        transition: all 0.3s ease-in;

                        :last-child {
                            margin-bottom: 0;

                        }


                        p {
                            width: 100%;
                            text-indent: unset;
                        }

                    }
                }
            }
        }
    }

    .AutomationServices {
        position: relative;
        // padding: 80px 0;
        height: fit-content;
        // @include gradient.backgroundGradient;

        @media only screen and (max-width: 991px) {
            padding: 0 20px;
        }

        div {
            padding: 0;
            position: relative;

            div {

                h4 {
                    @include heading.levelFour-heading;
                    margin-bottom: 50px;
                }

                article {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 0 50px;
                    gap: 50px;

                    @media only screen and (max-width: "991px") {
                        flex-direction: column;
                        padding: 0;
                    }

                    span {
                        position: relative;

                        display: block;

                        width: 45%;

                        @media only screen and (max-width: "991px") {
                            width: 100%;
                        }

                        img {
                            width: 100%;
                            box-shadow: 2px 4px 8px rgba(colors.$primary-dark1, 0.22);
                            border-radius: 5px;
                            display: block;
                            max-width: 500px;
                            margin-left: auto;
                            margin-right: auto;
                            height: auto;
                        }
                    }

                    div {
                        width: 55%;
                        padding: 0;

                        @media only screen and (max-width: "991px") {
                            width: 100%;
                        }

                        p {
                            @include paragraph.paragraph-mixin;
                            max-width: 900px;
                            text-indent: unset;
                            margin: 0 auto;
                            margin-bottom: 20px;
                            color: colors.$primary-dark1;
                        }

                        span {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            gap: 10px;

                            img {
                                width: 20px;
                                height: auto;
                                margin: 0;
                                filter: invert(1) hue-rotate(180deg) brightness(80%);
                                box-shadow: unset;
                                margin-bottom: 15px;
                            }

                            aside {
                                display: block;
                                margin-bottom: 15px;

                                p {
                                    @include paragraph.paragraph-mixin;
                                    text-indent: unset;
                                    font-weight: 500;
                                    color: colors.$secondary_dark1;
                                    text-align: left;
                                    text-transform: capitalize;

                                }
                            }
                        }
                    }

                }
            }
        }
    }

    .Slider {
        padding-top: 50px;
        user-select: none;

        h4 {
            @include heading.levelFour-heading;
            margin-bottom: 50px;
            width: 100%;
        }

        div {
            padding: 0;

            div {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 15px;

                aside {
                    @include gradient.lightGradient3;
                    width: max(7rem);
                    padding: 10px 0;
                    aspect-ratio: 1/1;
                    border-radius: 10px;
                    box-shadow: 2px 4px 4px rgba(colors.$primary-dark1, 0.25);
                    transition: all 0.3s ease-in;

                    &:hover {
                        @include gradient.lightGradient2;
                    }

                    // &:nth-child(even) {
                    //     @include gradient.darkGradient1;

                    //     &:hover {
                    //         background: linear-gradient(to top left, rgba(colors.$primary-dark1, 1), rgba(colors.$primary-dark2, 0.7));
                    //     }

                    //     h5 {
                    //         color: colors.$white-color;
                    //     }

                    //     span {
                    //         color: colors.$white-color;
                    //     }
                    // }

                    h5 {
                        @include heading.levelFive-heading;
                        color: colors.$white-color;
                    }

                    span {
                        font-size: 2rem;
                        color: colors.$white-color;
                    }
                }
            }
        }

    }
}