@use "../sass/font";
@use "../sass/colors";
@use "../sass/animation";
@use "../sass/paragraph";


:root {
  --max-width: 1100px;
  --background-main: rgba(203, 203, 203, 0.3);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: clamp(17px, calc(10px + 1.5vmin), 24px);
}

body {
  background-color: var(--background-main) !important;
}

.container-lg {
  @media (min-width: "1550px") {
    margin-left: 10% !important;
    margin-right: 10% !important;
    max-width: 80% !important;
    padding: 0 !important;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

// Banner Slider styling...
.HomeBanner_Main {
  position: relative;
  margin-top: 100px;

  .carousel {
    .carousel-indicators {
      gap: 10px;
      justify-content: flex-start;

      button {
        width: 8px;
        height: 8px;
      }

      .active {
        transform: scale(120%);
      }
    }

    .carousel-inner {

      .carousel-item {
        a {
          text-decoration: none;
          color: #ffffff;

          img {
            width: 100%;
            height: 85vh;
            object-fit: cover;

            @media only screen and (max-width: "991px") {
              height: 80vh;
            }

            @media only screen and (max-width: "768px") {
              height: 70vh;
            }

            @media only screen and (max-width: "550px") {
              height: 65vh;
            }

          }

          .overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            background-image: linear-gradient(rgba(colors.$primary-dark4, 0.7), rgba(colors.$primary_dark4, 0.7));
            width: 100%;
            height: 100%;
          }

          article {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 80px;

            @media only screen and (max-width: "1200px") {
              gap: 20px;
            }

            h1 {
              display: block;
              width: fit-content;
              color: colors.$white_color;
              text-align: center;
              @include font.font(clamp(25px, calc(18px + 3.5vmin), 60px), 110%, 600);
              text-transform: uppercase;
              margin-bottom: 10px;
              animation: slide 1.5s forwards;

              @media only screen and (max-width: "768px") {
                width: 80%;
              }

            }

            div {
              display: flex;
              margin: 0 auto;
              width: 75%;
              gap: 100px;

              @media only screen and (max-width: "1200px") {
                gap: 50px;
              }

              @media only screen and (max-width: "991px") {
                flex-direction: column;
                gap: 20px;
              }

              p {
                width: 100%;
                @include paragraph.paragraph-mixin;
                text-indent: unset;
                color: colors.$white-color;
                animation: bottom-to-top 1.5s forwards;
                margin: 0;

                @media only screen and (max-width: "768px") {
                  line-height: 115%;
                }
              }

              span {
                width: 13px;
                height: 100%;
                border-radius: 10px;
                background-color: colors.$reindeer-lightbrown;
                animation: scale-up 1.5s forwards;

                @media only screen and (max-width: "991px") {
                  display: none;
                }
              }

              ul {
                list-style-type: none;
                display: flex;
                flex-direction: column;
                width: 100%;
                margin: 0;
                padding: 0;

                @media only screen and (max-width: "991px") {
                  display: none;
                }

                li {
                  @include paragraph.paragraph-mixin;
                  text-indent: unset;
                  color: colors.$white-color;
                  text-transform: capitalize;
                  animation: right-to-left 1.5s forwards;
                  text-align: left;

                  @media only screen and (max-width: "991px") {
                    width: 300px;
                  }

                }
              }
            }



          }




        }
      }

      .carousel-item.active {
        a {
          div {
            aside {
              h1 {
                display: block;
                animation: left-to-right 1.5s forwards;
              }

              span {
                p {
                  display: block;

                  &:first-child {
                    animation: bottom-to-top 1.5s forwards;
                  }

                  &:nth-child(2) {
                    animation: right-to-left 1.5s forwards;

                    &::before {
                      display: block;
                      animation: scale-up 2s forwards;

                      @media only screen and (max-width: "550px") {
                        display: none;
                      }
                    }
                  }

                }
              }
            }
          }

        }

        @include animation.animation-heading-mixin(slide);
        @include animation.animation-p1-mixin(bottom-to-top);
        @include animation.animation-p2-mixin(right-to-left);
        @include animation.animation-scaleup-mixin(scale-up);
      }
    }

    .carousel-control-prev {
      height: fit-content;
      margin-top: auto;
      margin-bottom: auto;

      span {
        transition: all 0.3s ease-out;
        padding: 30px 10px;

        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
        }
      }
    }

    .carousel-control-next {
      @extend .carousel-control-prev;
    }
  }
}