@use "../../../../sass/heading";
@use "../../../../sass/paragraph";
@use "../../../../sass/gradient";
@use "../../../../sass/colors";
@use "../../../../sass/visibility";

.leftServiceDescriptionMain {
    padding: 4rem 0;


    div {
        div {

            article {
                display: flex;
                align-items: center;
                gap: 5%;
                row-gap: 1.5rem;

                @media only screen and (max-width: "768px") {
                    flex-direction: column;
                    justify-content: center;

                }



                span {
                    display: block;

                    h3 {
                        @include heading.levelThree-heading;
                        margin-left: auto;
                        margin-right: auto;


                    }

                    &:nth-child(2) {
                        width: 35%;
                        position: relative;
                        border-radius: 20px;


                        @media only screen and (max-width: "768px") {
                            width: 75%;
                            order: 2;

                        }

                        img {
                            width: 100%;
                            height: fit-content;
                            border-radius: 20px;

                        }
                    }

                    &:first-child {
                        width: 60%;

                        @media only screen and (max-width: "768px") {
                            width: 100%;
                        }

                        p {
                            @include paragraph.paragraph-mixin;
                            text-indent: unset;
                        }
                    }


                }


            }

            .contentContainer {
                span {
                    &:first-child {
                        width: 65%;

                        @media only screen and (max-width: "1200px") {
                            width: 55%;
                        }

                        @media only screen and (max-width: "768px") {
                            width: 100%;
                        }

                    }

                    &:nth-child(2) {

                        width: 30%;

                        @media only screen and (max-width: "1200px") {
                            width: 40%;
                        }

                        @media only screen and (max-width: "768px") {
                            width: 100%;

                            img {
                                display: block;
                                max-width: 300px;
                                margin: 0 auto;
                            }
                        }

                        @media only screen and (max-width: "500px") {


                            img {

                                max-width: 250px;
                            }
                        }

                    }
                }
            }
        }
    }
}

.image-container {
    @include visibility.hiddenVisibilityRightToLeft;

    @media only screen and (max-width: "768px") {
        @include visibility.showVisibilityRightToLeft;
    }
}

.image-container.visible {
    @include visibility.showVisibilityRightToLeft;
}

.text-container {
    @include visibility.hiddenVisibilityLeftToRight;

    @media only screen and (max-width: "768px") {
        @include visibility.showVisibilityLeftToRight;
    }
}

.text-container.visible {
    @include visibility.showVisibilityLeftToRight;

}