@use "../../../../../sass/heading";
@use "../../../../../sass/paragraph";
@use "../../../../../sass/colors";
@use "../../../../../sass/gradient";
@use "../../../../../sass/visibility" as vis;

.TeamExtensionMain {
    padding: 4rem 0;
    @include gradient.backgroundGradient;

    div {
        div {
            h3 {
                @include heading.levelThree-heading;
            }

            p {
                @include paragraph.paragraph-mixin;
                margin-bottom: 1.5rem;
            }

            article {
                position: relative;
                width: 100%;

                div {
                    @media screen and (max-width: "768px") {
                        padding: 0 20px;
                    }

                    &:first-child {
                        margin-bottom: 2.5rem;
                    }

                    h4 {
                        @include heading.levelFour-heading;
                        width: 100%;
                        text-align: center;

                    }

                    ul {
                        list-style-type: none;
                        padding: 0px;
                        display: flex;
                        justify-content: center;
                        flex-wrap: wrap;
                        gap: 50px;

                        @media only screen and (max-width: "768px") {
                            gap: 30px;
                        }


                        li {
                            width: 300px;
                            height: 160px;
                            position: relative;
                            display: flex;
                            flex-direction: column;
                            border: 1px solid colors.$primary_dark2;
                            background-color: colors.$white-color;
                            box-shadow: 2px 4px 8px rgba(colors.$secondary_dark2, 0.22);
                            align-items: center;
                            border-radius: 10px;

                            @media only screen and (max-width: "550px") {
                                height: 130px;
                            }


                            span {
                                display: flex;
                                height: 40px;
                                justify-content: center;
                                align-items: center;
                                width: 100%;
                                padding: 10px;
                                @include gradient.lightGradient3;
                                border-radius: 10px 10px 0 0;


                                h5 {
                                    display: block;
                                    width: 100%;
                                    @include heading.levelFive-heading;
                                    color: colors.$white-color;
                                    width: fit-content;
                                    margin: 0;

                                    @media only screen and (min-width: "550px") {
                                        font-size: 18px;
                                    }
                                }
                            }

                            p {
                                display: block;
                                width: 100%;
                                @include paragraph.paragraph-mixin;
                                padding: 10px;
                                text-indent: unset;
                                margin-bottom: 0;


                            }

                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                }


            }
        }
    }
}

.content-container {
    @include vis.hiddenVisibility;

    @media only screen and (max-width: "768px") {
        @include vis.showVisibility;
    }
}

.content-container.visible {
    @include vis.showVisibility;
}