@use "../../../sass/colors";

.Footer_Main {
    background: linear-gradient(to top left, rgba(colors.$primary_dark1, 1), rgba(colors.$primary_dark2, 1));
    position: relative;

    div {

        div {
            position: relative;
            padding: 20px 0;

            article {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                row-gap: 20px;
            }
        }

        .Border {
            height: 2px;
            display: block;
            width: 100%;
            background-color: rgba(colors.$reindeer-lightbrown, 0.2);
        }

        color: colors.$primary_light;
    }
}