@use "../../../sass/colors";
@use "../../../sass/font";

.Header_Main {
    background: rgba(colors.$header-background-color1, 1);
    backdrop-filter: blur(3px);
    transition: all 0.3s ease-in;

    nav {
        height: 100px;
    }
}

.Nav_Menu {
    row-gap: 20px;

    a {
        color: colors.$header-navlink-color1;
        @include font.font(18px, 100%, 700);
        text-decoration: none;
        height: fit-content;
        transition: all 0.3s ease-in-out;
        width: fit-content;

        @media only screen and (min-width: "768px") {
            &:first-child {
                margin-left: auto;
            }
        }


        &:last-child {
            margin-left: auto;
            padding: 10px 20px;
            background: linear-gradient(to top left, colors.$header-navlink-background-color1, colors.$header-navlink-background-color2);
            border-radius: 10px;
            color: colors.$header-navlink-color2;


            @media only screen and (max-width: "768px") {
                margin-left: 0;
            }

            &:hover {
                background: linear-gradient(to top left, colors.$header-navlink-hover-background-color1, colors.$header-navlink-hover-background-color2);
                color: colors.$header-navlink-hover-color2 !important;
            }

        }

        &:hover:not(.Active) {
            color: colors.$header-navlink-hover-color3;
            text-shadow: unset;
        }
    }

    button {
        @extend a;
        background-color: transparent;
        border: none;
    }

    .Active {
        color: colors.$secondary_dark1;
    }

}

.Logo_Animation {
    width: 130px;
    height: auto;
    filter: hue-rotate(20deg) contrast(10%) brightness(10%) invert(0.1);
    transition: all 0.3s ease-out;

    &:hover {
        animation: none;
    }
}

@keyframes rotate {
    to {
        transform: rotateY(0deg);
    }

    from {
        transform: rotateY(360deg);
    }
}

.HeaderBackground {
    box-shadow: 2px 4px 8px rgba(colors.$primary_dark1, 0.25);
}