@use "../../../sass/colors" as color;

.loadingMain {
    position: relative;
    height: 70vh;
    width: 100%;
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;

    .custom-loader {
        width: 50px;
        height: 50px;
        display: grid;
    }

    .custom-loader::before,
    .custom-loader::after {
        content: "";
        grid-area: 1/1;
        --c: radial-gradient(farthest-side, #255f74 92%, #111e6c);
        background:
            var(--c) 50% 0,
            var(--c) 50% 100%,
            var(--c) 100% 50%,
            var(--c) 0 50%;
        background-size: 12px 12px;
        background-repeat: no-repeat;
        transition: all 0.3s ease-in-out;
        animation: s2 0.7s infinite;
    }

    .custom-loader::before {
        margin: 4px;
        filter: hue-rotate(45deg);
        background-size: 8px 8px;
        animation-timing-function: linear
    }

    @keyframes s2 {
        100% {
            transform: rotate(.5turn);
        }
    }

}