@use "../../../../sass/colors";
@use "../../../../sass/gradient";
@use "../../../../sass/heading";
@use "../../../../sass/paragraph";
@use "../../../../sass/font";


.modalAndServicesMain {
    position: relative;
    background-color: rgba(252, 151, 55, 0.87);
    background-image: url("../../../../assets/images/about-us/line-image.png");
    background-position: center;
    background-blend-mode: saturation;
    background-size: contain;
    clip-path: ellipse(90% 44% at 46% 49%);
    margin-top: 30px;


    div {
        div {

            article {
                position: relative;
                z-index: 1;
                display: flex;

                @media (max-width: "768px") {
                    flex-direction: column;
                }

                div {

                    width: 50%;
                    padding: 100px;

                    @media (max-width: "991px") {
                        padding: 100px 20px;
                    }

                    @media (max-width: "768px") {
                        width: 100%;

                        &:first-child {
                            padding-bottom: 50px;
                            border-bottom: 4px solid colors.$white-color;
                        }

                        &:last-child {
                            padding-top: 50px;
                        }
                    }

                    h3 {
                        @include heading.levelThree-heading;
                        color: gold;
                        width: unset;
                        text-shadow: 2px 3px 4px rgba(colors.$primary_dark1, 0.42);
                    }

                    p {
                        @include paragraph.paragraph-mixin;
                        margin-bottom: 50px;
                        // color: colors.$white-color;
                    }

                    a {
                        display: block;
                        width: fit-content;
                        text-decoration: none;
                        background-color: gold;
                        padding: 10px 15px;
                        border-radius: 40px;
                        color: colors.$white-color;
                        margin: 0 auto;
                        transition: all 0.3s ease-in;
                        box-shadow: 2px 4px 8px rgba(colors.$primary_dark1, 0.22);
                        border: 1px solid transparent;

                        @include font.font(20px, 110%, 500);

                        &:hover {
                            transform: scale(1.05);
                            color: colors.$primary_dark2;
                            background-color: colors.$white-color;
                            border: 1px solid gold;
                        }
                    }

                }
            }
        }
    }
}