@use "../../../sass/colors";
@use "../../../sass/font";

.formMain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    column-gap: 2%;
    row-gap: 10px;
    width: 100%;

    input {
        width: 100%;
        height: 45px;
        @include font.font(0.8rem, 100%, 300);
        border: 1px solid colors.$primary-dark2;

        @media only screen and (max-width: "768px") {
            font-size: 16px;
        }

        &::placeholder {
            color: colors.$primary_light;
        }

        &:first-child {
            width: 49%;
        }

        &:nth-child(2) {
            width: 49%;
        }

        &:last-child {
            max-width: 400px;
        }
    }

    textarea {
        width: 100%;
        border: 1px solid colors.$primary-dark2;
        @include font.font(0.8rem, 100%, 300);

        @media only screen and (max-width: "768px") {
            font-size: 16px;
        }

        &::placeholder {
            color: colors.$primary_light;
        }
    }

    select {
        width: 100%;
        height: 45px;
        border: 1px solid colors.$primary-dark2;
        @include font.font(0.8rem, 100%, 300);
        color: colors.$primary_light;

        @media only screen and (max-width: "768px") {
            font-size: 16px;
        }

    }

    input[type="submit"] {
        background-color: colors.$primary_dark2;
        border: none;
        color: colors.$white-color;
        transition: all 0.3s ease-in;

        &:hover {
            background-color: colors.$primary_dark4;
        }
    }
}