@use "../../../../sass/font";
@use "../../../../sass/colors";
@use "../../../../sass/heading";
@use "../../../../sass/paragraph";

.Links_Main {
    padding: 0 !important;
    width: 28%;

    @media only screen and (max-width: "991px") {
        width: 48%;

    }

    @media only screen and (max-width: "768px") {
        width: 100%;

    }

    h5 {
        @include heading.levelFive-heading;
        color: colors.$white-color;
    }

    span {
        text-align: left;
        display: flex;
        justify-content: flex-start;

        @media only screen and (max-width: "768px") {
            justify-content: flex-start;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            @media only screen and (max-width: "768px") {
                display: flex;
                flex-wrap: wrap;
            }

            li {
                padding: 5px;

                &:first-child {
                    padding-top: 0;
                }

                @media only screen and (max-width: "768px") {
                    width: 50%;
                    padding: 5px;

                    &:first-child {
                        padding-top: 5px;
                    }
                }

                a {
                    text-decoration: none;
                    @include paragraph.paragraph-mixin;
                    color: colors.$reindeer-lightbrown;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        color: colors.$primary_light;
                    }
                }
            }
        }
    }
}