@use "../../../../sass/heading" as h;
@use "../../../../sass/colors" as color;


.howWeWorkMain {
    position: relative;
    padding: 80px 0;

    div {
        div {
            h2 {
                @include h.levelTwo-heading;
            }

            article {
                width: 100%;
                background-color: color.$primary_dark3;
                padding: 50px;

                table {
                    width: 100%;
                    text-align: center;
                    border-collapse: collapse;



                    tr {
                        border: 2px solid color.$primary_light;
                        border-left: unset;
                        border-right: unset;

                        &:first-child {
                            border-top: unset;
                            border-bottom: unset;

                            th {
                                background-color: color.$secondary_dark2;

                                &:first-child {
                                    background-color: transparent;
                                }
                            }
                        }

                        &:last-child {
                            border-bottom: unset;
                        }
                    }

                    th {
                        border-left: 2px solid color.$primary_light;
                        padding: 10px;
                        color: color.$white-color;

                        &:first-child {
                            border-left: unset;
                            background-color: color.$secondary_dark2;
                        }

                    }

                    td {
                        border-left: 2px solid color.$primary_light;
                        padding: 10px;
                        color: color.$white-color;

                    }

                }
            }
        }
    }
}