@use "../../../../sass/heading" as h;
@use "../../../../sass/colors" as color;
@use "../../../../sass/gradient" as g;
@use "../../../../sass/font" as font;


.howWeWorkMain {
    position: relative;
    padding: 80px 0;

    div {
        div {
            h2 {
                @include h.levelTwo-heading;
            }

            article {
                width: 100%;
                @include g.lightGradient2;
                padding: 50px;
                // min-width: 800px;
                // overflow: auto;

                table {
                    width: 100%;
                    text-align: center;
                    border-collapse: collapse;
                    // min-width: 700px;
                    // overflow: auto;


                    thead {
                        tr {
                            border-bottom: 2px solid color.$white-color;

                            th {
                                @include g.lightGradient4;
                                border-left: 2px solid color.$white-color;
                                padding: 10px;
                                color: color.$table-header-font-color;
                                @include font.font(1.3rem, 105%, 600);

                                &:first-child {
                                    background-color: transparent;
                                    border-left-color: transparent;
                                    visibility: hidden;
                                }
                            }
                        }
                    }

                    tbody {
                        tr {
                            border-bottom: 2px solid color.$white-color;

                            &:last-child {
                                border-bottom: unset;
                            }

                            td {
                                border-left: 2px solid color.$white-color;
                                padding: 10px;
                                color: color.$primary_dark4;
                                @include font.font(1rem, 105%, 400);

                                &:first-child {
                                    @include g.lightGradient4;
                                    border-left: 2px solid color.$white-color;
                                    padding: 10px;
                                    color: color.$table-header-font-color;
                                    @include font.font(1.3rem, 105%, 600);
                                    border-left: unset;
                                }

                            }
                        }
                    }


                }
            }
        }
    }
}