@use "../../../../sass/heading" as h;
@use "../../../../sass/colors" as color;
@use "../../../../sass/gradient" as g;
@use "../../../../sass/font" as font;
@use "../../../../sass/visibility" as vis;


.howWeWorkMain {
    position: relative;
    padding: 80px 0;

    div {

        div {

            h2 {
                @include h.levelTwo-heading;
            }

            article {
                width: 100%;
                @include g.lightGradient2;
                padding: 50px;
                overflow-x: scroll;

                // For mozilla
                scrollbar-width: auto;
                scroll-behavior: smooth;
                scrollbar-color: transparent transparent;

                @media only screen and (max-width: "768px") {
                    padding: 0;
                }

                &::-webkit-scrollbar {
                    width: 0px;
                    display: none;
                }

                &::-webkit-scrollbar-track {
                    background-color: transparent;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: transparent;
                }


                table {
                    width: 100%;
                    text-align: center;
                    border-collapse: collapse;
                    min-width: 700px;


                    thead {
                        tr {
                            border-bottom: 2px solid color.$white-color;

                            th {
                                @include g.lightGradient4;
                                border-left: 2px solid color.$white-color;
                                padding: 10px;
                                color: color.$table-header-font-color;
                                @include font.font(0.8rem, 105%, 600);

                                &:first-child {
                                    background-color: transparent;
                                    border-left-color: transparent;
                                    visibility: hidden;
                                }
                            }
                        }
                    }

                    tbody {
                        tr {
                            border-bottom: 2px solid color.$white-color;

                            &:last-child {
                                border-bottom: unset;
                            }

                            td {
                                border-left: 2px solid color.$white-color;
                                padding: 10px;
                                color: color.$primary_dark4;
                                @include font.font(0.7rem, 105%, 400);

                                &:first-child {
                                    @include g.lightGradient4;
                                    border-left: 2px solid color.$white-color;
                                    padding: 10px;
                                    color: color.$table-header-font-color;
                                    @include font.font(0.8rem, 105%, 600);
                                    border-left: unset;
                                }

                            }
                        }
                    }


                }
            }
        }
    }
}

.content-container {
    @include vis.hiddenVisibility;
}

.content-container.visible {
    @include vis.showVisibility;
}