@use "../../../../sass/font";
@use "../../../../sass/heading";
@use "../../../../sass/paragraph";
@use "../../../../sass/colors";
@use "../../../../sass/gradient";
@use "../../../../sass/visibility" as vis;

.DDTBenifitsMain {
    padding: 4rem 0;
    @include gradient.backgroundGradient;

    div {
        div {

            h2 {
                @include heading.levelTwo-heading;
                margin-bottom: 2rem;
            }

            article {
                p {
                    @include paragraph.paragraph-mixin;
                    text-indent: unset;
                }

                ul {
                    list-style-type: none;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    padding: 0;
                    margin-top: 0px;
                    row-gap: 20px;

                    li {
                        position: relative;
                        width: 100%;
                        @include paragraph.paragraph-mixin;
                        display: flex;
                        margin: 0;
                        text-indent: unset;
                        border-radius: 10px;
                        box-shadow: 2px 4px 8px rgba(colors.$primary-dark1, 0.15), -2px -4px 8px rgba(colors.$primary-dark1, 0.15);
                        user-select: none;
                        transition: all 0.3s ease-in;
                        background-color: colors.$secondary_dark2;


                        aside {

                            height: fit-content;
                            background-color: transparent;
                            text-align: center;
                            display: block;
                            margin: auto 0;
                            color: colors.$white-color;
                            padding: 0 50px;
                            @include font.font(1.2rem, 1rem, 600);

                            @media only screen and (max-width: "768px") {
                                padding: 0 30px;
                            }

                            @media only screen and (max-width: "550px") {
                                display: none;
                            }
                        }

                        p {
                            width: 100%;
                            background-color: colors.$white-color;
                            border-radius: 0 10px 10px 0;
                            text-indent: unset;
                            margin: 0;

                            @media only screen and (max-width: "550px") {

                                border-radius: 10px;
                            }

                            span {
                                display: block;
                                margin: 10px 0;
                                padding: 10px;
                                width: fit-content;
                                color: colors.$white-color;
                                background-color: colors.$secondary_dark2;
                                @include font.font(1rem, 1rem, 500);
                                word-wrap: break-word;
                                text-align: left;

                                @media only screen and (max-width: "550px") {
                                    margin: 0;
                                    width: 100%;
                                    text-align: center;
                                    border-radius: 10px 10px 0 0;
                                }

                                &:last-child {
                                    width: 100%;
                                    background-color: transparent;
                                    color: colors.$primary_dark1;
                                    @include font.font(0.8rem, 1rem, 400);
                                    padding: 10px 20px;
                                    background: transparent;
                                    text-align: justify;

                                    @media only screen and (max-width: "550px") {

                                        border-radius: 0 0 10px 10px;
                                        padding: 10px;
                                    }
                                }

                            }
                        }
                    }
                }
            }
        }
    }
}

.content-container {
    @include vis.hiddenVisibility;

    @media only screen and (max-width: "768px") {
        @include vis.showVisibility;
    }
}

.content-container.visible {
    @include vis.showVisibility;
}