@use "../../../../sass/font";
@use "../../../../sass/heading";
@use "../../../../sass/paragraph";
@use "../../../../sass/colors";
@use "../../../../sass/gradient";
@use "../../../../sass/visibility" as vis;

.DDTBenifitsMain {
    padding: 4rem 0;
    @include gradient.backgroundGradient;

    div {
        div {

            h2 {
                @include heading.levelTwo-heading;
            }

            article {
                margin-top: 1.2rem;

                ul {
                    list-style-type: none;
                    padding: 0px;

                    li {
                        position: relative;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: flex-start;
                        background-color: rgba(colors.$white-color, 1);
                        align-items: center;
                        border-radius: 10px;
                        border-bottom: 1px ridge rgba(colors.$primary-dark2, 1);

                        @media only screen and (max-width: "550px") {
                            flex-direction: column;
                            margin-bottom: 10px;
                        }

                        span {
                            @include gradient.lightGradient3;
                            border-radius: 10px 0 0 10px;
                            padding: 10px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 150px;
                            min-height: 150px;

                            @media only screen and (max-width: "991px") {
                                min-height: 180px;
                            }

                            @media only screen and (max-width: "768px") {
                                width: 120px;
                                min-height: 170px;
                            }

                            @media only screen and (max-width: "550px") {
                                border-radius: 10px 10px 0 0;
                                height: fit-content;
                                min-height: unset;
                                width: 100%;
                            }

                            h4 {
                                @include heading.levelFive-heading;
                                font-size: 0.85rem;
                                color: colors.$white-color;
                                width: 120px !important;
                                text-align: center;
                                margin: 0;

                                @media only screen and (max-width: "550px") {
                                    width: fit-content !important;
                                }
                            }
                        }

                        p {
                            width: 100%;
                            @include paragraph.paragraph-mixin;
                            padding: 10px;
                            text-indent: unset;
                            margin-bottom: 0;
                        }

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}

.content-container {
    @include vis.hiddenVisibility;

    @media only screen and (max-width: "768px") {
        @include vis.showVisibility;
    }
}

.content-container.visible {
    @include vis.showVisibility;
}