@use "../../../../sass/font";
@use "../../../../sass/colors";
@use "../../../../sass/heading";

.Company_Main {
    padding: 0 !important;
    width: 25%;

    @media only screen and (max-width: "991px") {
        width: 48%;

    }

    @media only screen and (max-width: "768px") {
        width: 100%;

    }

    h5 {
        @include heading.levelFive-heading;
        color: colors.$white-color;
        margin-bottom: 20px;
    }

    span {
        display: block;
        margin-top: 20px;

        img {
            width: 150px;
            height: auto;
            filter: hue-rotate(220deg) contrast(60%);
        }
    }

    p {
        margin: 0;
        @include font.font(16px, 28px, 400);
        color: colors.$reindeer-lightbrown;
    }


}