@use "../../../../sass/paragraph";
@use "../../../../sass/colors";
@use "../../../../sass/heading";

.Company_Main {
    padding: 0 !important;
    text-align: center;
    max-width: 700px;

    span {
        display: inline-block;

        img {
            width: 150px;
            height: auto;
            filter: hue-rotate(220deg) contrast(60%);
        }
    }

    p {
        margin: 0;
        @include paragraph.paragraph-mixin;
        color: colors.$reindeer-lightbrown;
        text-align: center;
    }


}