@use "../../../../sass/heading" as h;
@use "../../../../sass/colors" as color;
@use "../../../../sass/gradient" as g;
@use "../../../../sass/font" as font;
@use "../../../../sass/visibility" as vis;


.howWeWorkMain {
    position: relative;
    padding: 80px 0;

    div {

        div {

            h2 {
                @include h.levelTwo-heading;
            }

            article {
                width: 100%;
                @include g.lightGradient2;
                padding: 50px;
                overflow-x: scroll;

                // For mozilla
                scrollbar-width: auto;
                scroll-behavior: smooth;
                scrollbar-color: transparent transparent;

                @media only screen and (max-width: "768px") {
                    padding: 0;
                    background: unset;

                    div {

                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 30px;
                        padding: 10px;

                        div {
                            width: 70%;
                            min-width: 300px;
                            border-radius: 10px;
                            display: block;
                            padding: unset;
                            box-shadow: 4px 4px 8px rgba(color.$primary_dark4, 0.20), -4px -4px 8px rgba(color.$primary_dark4, 0.20);

                            h4 {
                                @include h.levelFour-heading;
                                @include g.lightGradient4;
                                border-radius: 10px 10px 0 0;
                                color: color.$table-header-font-color;
                                width: unset;
                                margin: 0;
                            }

                            p {
                                @include font.font(1rem, 105%, 400);
                                padding: 8px;
                                margin: 0;
                                @include g.lightGradient1;

                                span {
                                    font-weight: 500;
                                    margin-right: 5px;
                                }

                                &:last-of-type {
                                    border-radius: 0 0 10px 10px;
                                }
                            }
                        }
                    }
                }

                &::-webkit-scrollbar {
                    width: 0px;
                    display: none;
                }

                &::-webkit-scrollbar-track {
                    background-color: transparent;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: transparent;
                }


                table {
                    width: 100%;
                    text-align: center;
                    border-collapse: collapse;
                    min-width: 700px;


                    thead {
                        width: inherit;

                        tr {
                            width: inherit;
                            border-bottom: 2px solid color.$white-color;

                            th {
                                width: 20%;
                                @include g.lightGradient4;
                                border-left: 2px solid color.$white-color;
                                padding: 10px;
                                color: color.$table-header-font-color;
                                @include font.font(0.9rem, 105%, 600);

                                &:first-child {
                                    background-color: transparent;
                                    border-left-color: transparent;
                                    visibility: hidden;
                                }
                            }
                        }
                    }

                    tbody {
                        tr {
                            border-bottom: 2px solid color.$white-color;

                            &:last-child {
                                border-bottom: unset;
                            }

                            td {
                                border-left: 2px solid color.$white-color;
                                padding: 10px;
                                color: color.$primary_dark4;
                                @include font.font(0.8rem, 105%, 400);


                                &:first-child {
                                    @include g.lightGradient4;
                                    border-left: 2px solid color.$white-color;
                                    padding: 10px;
                                    color: color.$table-header-font-color;
                                    @include font.font(0.9rem, 105%, 600);
                                    border-left: unset;

                                }

                            }
                        }
                    }


                }


            }
        }
    }
}

.content-container {
    @include vis.hiddenVisibility;
}

.content-container.visible {
    @include vis.showVisibility;
}