@use "../../../../../sass/gradient";
@use "../../../../../sass/heading";
@use "../../../../../sass/paragraph";
@use "../../../../../sass/colors";
@use "../../../../../sass/font";

.webDevelopmentMain {
    padding: 80px 0;

    div {
        div {

            h3 {
                @include heading.levelThree-heading;
            }

            article {

                p {
                    @include paragraph.paragraph-mixin;
                }

                ul {
                    list-style-type: none;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    padding: 0;
                    margin: 50px 0;
                    row-gap: 20px;

                    li {
                        position: relative;
                        width: 100%;
                        @include paragraph.paragraph-mixin;
                        display: flex;
                        margin: 0;
                        text-indent: unset;
                        border-radius: 10px;
                        box-shadow: 2px 4px 8px rgba(colors.$primary-dark1, 0.15), -2px -4px 8px rgba(colors.$primary-dark1, 0.15);
                        user-select: none;
                        transition: all 0.3s ease-in;
                        @include gradient.lightGradient3;

                        aside {
                            height: fit-content;
                            background-color: transparent;
                            text-align: center;
                            display: block;
                            margin: auto 0;
                            color: colors.$white-color;
                            padding: 0 50px;
                            @include font.font(1.2rem, 1rem, 600);

                            @media only screen and (max-width: "768px") {
                                padding: 0 30px;
                            }
                        }

                        p {
                            width: 100%;
                            background-color: colors.$white-color;
                            border-radius: 0 10px 10px 0;
                            text-indent: unset;

                            span {
                                display: block;
                                margin: 10px 0;
                                padding: 10px;
                                width: fit-content;
                                color: colors.$white-color;
                                @include gradient.lightGradient3;
                                @include font.font(1rem, 1rem, 500);

                                &:last-child {
                                    width: 100%;
                                    background-color: transparent;
                                    color: colors.$primary_dark1;
                                    @include font.font(0.8rem, 1rem, 400);
                                    padding: 10px 20px;
                                    background: transparent;
                                    text-align: justify;

                                }

                            }
                        }


                    }
                }

                &:last-child {
                    width: 100%;

                    div {
                        display: flex;
                        justify-content: center;
                        flex-wrap: wrap;
                        margin-bottom: 50px;
                        gap: 20px;

                        h4 {
                            flex: 0 0 100%;
                            @include heading.levelFour-heading;
                            color: rgba(252, 151, 55, 0.87);
                            text-align: center;
                        }

                        span {
                            display: inline-block;
                            width: 100px;
                            aspect-ratio: 1/1;
                            padding: 20px;
                            border-radius: 50%;
                            background-color: colors.$white-color;
                            box-shadow: 2px 3px 8px rgba(colors.$primary_dark2, 0.20);
                            transition: all 0.3s ease-in;
                            cursor: pointer;

                            &:hover {
                                background-color: rgba(colors.$primary_dark2, 0.2);
                            }

                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }
            }


        }
    }
}