@use "../../../sass/font";
@use "../../../sass/colors";

.Main_animate {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    h1 {
        @include font.font(3rem, 120%, 1000);
        font-family: Arial, Helvetica, sans-serif;
        color: colors.$secondary_dark2;
        text-shadow: 2px 4px 8px rgba(colors.$secondary_dark2, 0.48), 0px 0px 10px rgba(colors.$secondary_dark2, 0.48);
        transition: all 0.3s ease-in-out;

        .Animate {
            animation: shade 1.5s ease backwards;
            transition: all 0.3s linear;
            height: fit-content;
            opacity: 1;
            cursor: context-menu;
            user-select: none;

            &:hover {
                color: rgba(252, 151, 55, 0.87);
                position: relative;
                bottom: 10px;
            }
        }
    }

}

@keyframes shade {
    0% {
        opacity: 0;
    }

    20% {
        color: whitesmoke;
        opacity: 0.2;
    }

    40% {
        opacity: 0.4;
        color: gold;
    }

    60% {
        opacity: 0.6;
        color: orange;
    }

    80% {
        opacity: 0.8;
        color: rgba(252, 151, 55, 0.87);
    }

    100% {
        opacity: 1;
    }
}