@use "../../../../sass/colors";
@use "../../../../sass/font";
@use "../../../../sass/animation";
@use "../../../../sass/paragraph";
@use "../../../../sass/gradient";

.aboutBannerMain {
    position: relative;
    margin-top: 100px;
    @include gradient.bannerGradient(url("../assets/images/about-us/about-banner.png"));
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center right;
    aspect-ratio: 1/0.49;
    min-height: 320px;
    max-height: 650px;
    width: 100%;

    div {
        div {
            article {
                position: absolute;
                width: 70%;
                min-width: 600px;
                max-width: 1200px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 20px;

                @media only screen and (max-width: "768px") {
                    width: 100%;
                    min-width: fit-content;
                }

                span {
                    width: 50px;
                    height: 50px;
                    background-color: gold;
                    font-size: 35px;
                    display: flex;
                    margin-left: 10px;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    color: colors.$secondary_dark2;
                    animation: scale-up 1.5s forwards;
                }

                h1 {
                    display: block;
                    color: gold;
                    text-align: center;
                    @include font.font(2.3rem, 120%, 700);
                    text-transform: uppercase;
                    margin-bottom: 0;
                    animation: slide 1.5s forwards;

                    @media only screen and (max-width: "768px") {
                        width: 80%;
                    }


                }

                div {
                    display: flex;
                    width: 80%;
                    gap: 100px;

                    @media only screen and (max-width: "1200px") {
                        gap: 50px;
                    }

                    @media only screen and (max-width: "991px") {
                        flex-direction: column;
                        gap: 20px;
                    }

                    p {
                        width: 100%;
                        @include paragraph.paragraph-mixin;
                        text-indent: unset;
                        text-align: left;
                        color: gold;
                        animation: right-to-left 1.5s forwards;
                        margin: 0;

                        @media only screen and (max-width: "768px") {
                            line-height: 115%;
                        }
                    }

                }

                a {
                    padding: 7px 10px;
                    background-color: gold;
                    color: colors.$secondary_dark2;
                    margin-left: 10px;
                    font-weight: 500;
                    border-radius: 5px;
                    transition: all 0.3s ease-in;
                    animation: bottom-to-top 1.5s forwards;

                    &:hover {
                        background-color: rgba(gold, 0.7);
                    }
                }


                @include animation.animation-heading-mixin(slide);
                @include animation.animation-p1-mixin(bottom-to-top);
                @include animation.animation-p2-mixin(right-to-left);
                @include animation.animation-scaleup-mixin(scale-up);
            }
        }
    }
}