@use "../../../../sass/font";
@use "../../../../sass/colors";
@use "../../../../sass/heading";

.SocialContactsMain {
    padding: 0 !important;
    width: 16%;

    @media only screen and (max-width: "991px") {
        width: 48%;

    }

    @media only screen and (max-width: "768px") {
        width: 100%;

    }

    h5 {
        @include heading.levelFive-heading;
        color: colors.$white-color;
        margin-bottom: 20px;
    }

    aside {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;

        span {
            border-radius: 50%;
            color: colors.$reindeer-lightbrown;
            background-color: colors.$primary_dark1;
            width: 35px;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.3s ease-in;
            cursor: pointer;

            &:hover {
                transform: translateY(-5px);
            }
        }
    }


}