@use "../../../../sass/font";
@use "../../../../sass/colors";
@use "../../../../sass/heading";

.ContactMain {
    padding: 0 !important;

    div {
        padding: 0 !important;

        &::before {
            content: "";
            position: absolute;
            left: -3000px;
            bottom: -17px;
            width: 6000px;
            height: 1px;
            background-color: colors.$reindeer-lightbrown;
            z-index: 1;
        }
    }

    aside {
        position: relative;
        display: flex;
        gap: 15px;
        z-index: 1;

        span {
            // border-radius: 50%;
            border-radius: 10px;
            color: colors.$reindeer-lightbrown;
            background-color: colors.$primary_dark1;
            border: 1px solid colors.$reindeer-lightbrown;
            width: 35px;
            height: 35px;
            display: flex;
            font-size: 20px;
            justify-content: center;
            align-items: center;
            transition: all 0.3s ease-in;
            cursor: pointer;

            &:hover {
                transform: translateY(-5px);
            }
        }
    }
}