@use "../../../../sass/font";
@use "../../../../sass/colors";
@use "../../../../sass/heading";

.ContactMain {
    padding: 0 !important;


    aside {
        display: flex;
        gap: 15px;

        span {
            // border-radius: 50%;
            border-radius: 10px;
            color: colors.$reindeer-lightbrown;
            background-color: colors.$primary_dark1;
            border: 1px solid colors.$reindeer-lightbrown;
            width: 35px;
            height: 35px;
            display: flex;
            font-size: 20px;
            justify-content: center;
            align-items: center;
            transition: all 0.3s ease-in;
            cursor: pointer;

            &:hover {
                transform: translateY(-5px);
            }
        }
    }
}