@use "../../../../sass/colors";
@use "../../../../sass/paragraph";

.CopyRight_Main {
    background-color: colors.$primary_dark1;
    padding: 0 !important;


    div {
        padding: 0 10px !important;

        div {
            display: flex;
            justify-content: center;
            padding: 0 !important;

            span {
                display: block;
                padding: 10px 0;
                @include paragraph.paragraph-mixin;
                font-size: 0.5rem;
                color: rgba(colors.$reindeer-lightbrown, 1);
                margin: 0 !important;

                @media only screen and (max-width: "768px") {
                    font-size: 12px !important;
                }
            }


        }
    }



}