@use "../../../../sass/colors";
@use "../../../../sass/heading";
@use "../../../../sass/paragraph";

.roboticsAutonomyImportanceMain {
    position: relative;
    padding: 80px 0;
    transition: all 0.3s ease-in;

    &:hover {
        background-color: colors.$hover_background;
    }

    div {
        div {

            h2 {
                @include heading.levelTwo-heading;
            }

            article {
                p {
                    @include paragraph.paragraph-mixin;
                }
            }
        }
    }
}